{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #container {
        width: 80rem;
        white-space: pre-wrap;
        word-wrap: break-word;
        /* overflow: hidden;
        text-overflow: clip; */
      }
    </style>
  </head>
  <body>
    <form style="margin: auto auto" method="post" action="{% url 'home' %}">
      {% csrf_token %}
      <div>
        <textarea name="prompt" rows="2" id="prompt"></textarea>
      </div>
      <div>
        <button type="submit" id="send-btn">Send</button>
      </div>
      <div style="width: 80rem">
        <p id="container">{{msg}}</p>
      </div>
    </form>

    
  </body>
</html>
